[Unit]
Description=Log Uptime values

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/chris/scripts/starttimer
ExecStop=/home/chris/scripts/stoptimer

[Install]
WantedBy=multi-user.target
